.DS_Store
.vscode/
.claude/

nimcache/
nimblecache/
htmldocs/
nimble.develop
nimble.paths

/etch
/lib
/bin
__etch__/
*.etcx
*.etca
*.vsix
etch.out
/examples/*
!/examples/capi
!/examples/clib
!/examples/data
!/examples/lib
!/examples/*.etch
!/examples/*.pass
!/examples/*.fail
